#navbar a{
  color:black;
  text-decoration: none;
  padding: 0.5em;
  font-size: 14px;
  display: inline;
}

#navright {
  float: right;
}

#navbar a:hover {
  text-decoration: underline;
}

#centerContent {
  padding: 3em;
}

.appDrawer {
  background-image: url('images/GoogleAppsIcon.png');
  vertical-align: middle;
  border-radius: 2px;
  box-sizing: border-box;
  height: 128px;
  width: 128px;
}
