#navbar a{
  color:black;
  text-decoration: none;
  padding: 0.5em;
  font-size: 14px;
  display: inline;
}

#navright {
  float: right;
}

#navbar a:hover {
  text-decoration: underline;
}

#centerContent {
  padding: 3em;
}

.appDrawer {
  background-image: url('images/GoogleAppsIcon.png');
  background-size: 528px 68px;
  height: 30px;
  width: 30px;
}
